 html { overflow: hidden; }
      body { margin: 0; padding: 0; overflow: hidden; font-family: Monospace; font-size: 13px; line-height: 20px; color: #333;
	  /* 
	  background: #ded4c7;
	   */
	  }

      a { color: #0088cc; text-decoration: none; }
      a:hover, a:focus { color: #005580; text-decoration: underline; }

      /* stats */
      #fps, #ms { background: transparent !important; }
      #fpsText, #msText { color: #aaa !important; }
      #fpsGraph, #msGraph { display: none; }
	  
	  #loader {
		/* position: fixed;
		top: 200px;
		left: 47%; */
		font-size: 34px;
		/* z-index: 9999; */
	  }
	  #container {
		display: none;
		opacity: 0;
	  }
	  #front_slider {
		display: none;
	  }
	  
	  
	  
	  #btn {
		position: absolute;
		top: 100px;
		left: 100px;
		display: block;
		padding: 10px;
		background: #fff;
		cursor: pointer;
	  }
	  #btn:hover {
		opacity: 0.8;
	  }
	  
	   #rbtn {
		position: absolute;
		top: 100px;
		left: 170px;
		display: block;
		padding: 10px;
		background: #fff;
		cursor: pointer;
	  }
	  #rbtn:hover {
		opacity: 0.8;
	  }
	  
	  
	  #points_wrapper {
			position: absolute;
			top: 150px;
			left: 2%;
			z-index: 9999;
			opacity: 0;
	  }
	  
	  
	  #points_wrapper_inner {
		background: rgba(0, 0, 0, 0.4);
		padding: 15px 11px 0;
		border-radius: 30px;
		
		border: 1px solid rgba(255, 255, 255, 0.7);
	  }
	  
	  #points_wrapper_inner > div {
			color: #fff;
			border-radius: 50%;
			border: 1px solid #fff;
			font-size: 16px;
			width: 27px;
			height: 27px;
			margin: 0 0 18px 0;
			box-sizing: border-box;
			padding: 2px 0 0 8px;
			position: relative;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
	  }
	   #points_wrapper_inner > div:hover,
	   #points_wrapper_inner > div.active {
			background: #fff;
			color: #000;
	   }
	   
	   #points_wrapper_info_arrow {
			background: url(../images/arrow_bottom_left.png) no-repeat;
			background-size: contain;
			width: 63px;
			height: 63px;
			position: absolute;
			bottom: -75px;
			left: -1px;
			transform: rotate(109deg);
	   }
	   #points_wrapper_info {
			opacity: 1;
			display: block;
	   }
	   #points_wrapper_info_text {
			width: 100px;
			position: absolute;
			bottom: -106px;
			left: 59px;
			color: #fff;
			font-size: 14px;
			line-height: 1;
			font-family: 'roboto_condensedregular';
			text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	   }
	   #points_wrapper_info_close {
			background: url(../images/close-cart-btn.png) no-repeat;
			background-size: 15px auto;
			background-position: 0 -20px;
			width: 15px;
			height: 15px;
			position: absolute;
			bottom: -92px;
			left: 168px;
			cursor: pointer;
	   }
	  
	  
.message {
	background: rgba(0, 0, 0, 1);
	border: 1px solid #000;
	padding: 30px;
	font-size: 20px;
	transition: all 0.5s ease-in-out;
	color: #fff;
}
.message:hover {
	background: #555;
}
.textNode {
	height: 200px !important;
}