
@font-face {
  font-family: 'roboto_condensedregular';
  src: url('../../fonts/robotocondensed-regular-webfont.eot');
  src: url('../../fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/robotocondensed-regular-webfont.woff2') format('woff2'), url('../../fonts/robotocondensed-regular-webfont.woff') format('woff'), url('../../fonts/robotocondensed-regular-webfont.ttf') format('truetype'), url('../../fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url('../../fonts/roboto-medium-webfont.eot');
  src: url('../../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/roboto-medium-webfont.woff2') format('woff2'), url('../../fonts/roboto-medium-webfont.woff') format('woff'), url('../../fonts/roboto-medium-webfont.ttf') format('truetype'), url('../../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../../fonts/roboto-regular-webfont.eot');
  src: url('../../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../../fonts/roboto-regular-webfont.woff') format('woff'), url('../../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../../fonts/robotoslab-bold-webfont.eot');
    src: url('../../fonts/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/robotoslab-bold-webfont.woff2') format('woff2'), url('../../fonts/robotoslab-bold-webfont.woff') format('woff'), url('../../fonts/robotoslab-bold-webfont.ttf') format('truetype'), url('../../fonts/robotoslab-bold-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }



body {
	overflow-x: hidden;
}
body, div {
	margin: 0;
	padding: 0;
}
/* 
#content {
	width: 100%;
	height: auto;
	overflow: hidden;
}
 */

 #svg {
    opacity: 0;
    position: relative;
    top: -125px;
 }
 
 
 /* #preloader {
	position: fixed;
	top: 25%;
	left: 35%;
	width: 500px;
	height: auto;
	margin-left: -50px;
	margin-top: -50px;
	/* opacity: 0; */
	 /* text-align: center;
}  */

#preloader {
    text-align: center;
    margin-top: 3%;
}

#preloader img {
	max-width: 100%;
	height: auto;
    margin: 0 0 75px 0;
}
#batSections img[data-num="0"],
#batSections img[data-num="1"],
#batSections img[data-num="2"],
#batSections img[data-num="3"],
#batSections img[data-num="4"],
#batSections img[data-num="5"],
#batSections img[data-num="6"],
#batSections img[data-num="7"],
#batSections img[data-num="8"],
#batSections img[data-num="9"] {
    display: none;
}
#batSections {
    font-size: 0;
}
#batSections img {
    margin-left: -2px;
}
#preloader #loader {
    font-size: 120px;
    font-family: 'robotobold';
    color: #cccccc;
}

.svg_object {
 width: 100%;
   /*  height: 0;
    padding-top: 48%; */
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
	/* opacity: 0;	 */
}


.svg_object svg {
	/*  position: absolute;
    top: 0;
    left: 0; */
}

#img {
	position: absolute;
	top: -122px;
	left: 0;
	z-index: 1;
}
#img img {
	width: 100%;
	height: auto;
	opacity: 0;
}

#img .battery {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}

.bat-animation {
	transform: scale(2.7) translate(-450px, -150px);
	transition: transform 2s ease-in;
}


.blur {
   /*  -webkit-filter: blur(40px);
    filter: blur(40px); */
	/* transform: scale(1.7) translate(-270px, -110px); */
	
	/* transform: scale(2.7) translate(-435px, -183px);
	transition: all 3s ease-in-out; */
	animation: blinker 3s linear 1;
	animation-fill-mode: forwards;
}





@keyframes blinker {
	50% {
		transform: scale(2.9) translate(-435px, -183px);
		-webkit-filter: blur(0px);
		filter: blur(0px);
  	}
	/* 90% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
	} */
	100% {
		transform: scale(2.9) translate(-435px, -183px);
		-webkit-filter: blur(3px);
		filter: blur(3px);
	}
}





/* 
#gr_img {
	position: absolute;
	top: 400px;
	left: -550px;
	z-index: 5;
	transition: all 1s ease-in-out;
}

#gr_text {
	font-size: 35px;
	font-family: 'Comic Sans MS';
	text-align: center;
	color: red;
	position: absolute;
	width: 800px;
	display: block;
	top: 200px;
	left: -50%;
	margin-left: -400px;
	z-index: 5;
	transition: all 1s ease-in-out;
}

#gr_text .sm {
	font-size: 18px;
	display: block;
    padding: 10px 0 0 0;
}

#gr_img.gr_active {
	left: 0;
}

#gr_text.gr_active {
	left: 50%;
}
 */

#front_content {
	opacity: 0;
}

#content {
	position: relative;
}


#front_logo {
	position: fixed;
	top: 25px;
	left: 2%;
	z-index: 10;
	/* width: 175px;
	background: rgba(0, 124, 187, 0.3);
    padding: 5px; */
}

#front_logo img {
	width: 100%;
	height: auto;
	display: block;
}

#front_copy {
	position: fixed;
	bottom: 40px;
	left: 2%;
	z-index: 10;
	color: #fff;
	font-size: 14px;
	font-family: 'roboto_condensedregular';
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

#front_copy a,
#front_copy a:visited {
	color: #fff;
}



#front_slider {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#front_slider img {
	width: 100%;
	height: auto;
	display: block;
}


#front_slider .slick-dots {
	position: fixed;
	width: auto;
	bottom: 100px;
	right: 320px;
	z-index: 10;
}


#front_slider .slick-dots li button {
	border-radius: 50%;
	background: transparent;
	border: 1px solid #fff;
	width: 20px;
	height: 20px;
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

#front_slider .slick-dots li.slick-active button {
	background: #fff;
}





.fslider_item {
	position: relative;
}


.slide_dot_wrap {
	padding: 7px;
	border: 1px solid #fff;
	border-radius: 50%;
	position: absolute;
	cursor: pointer;
	z-index: 9999;
	
}

.slide_dot {
	border-radius: 50%;
	background: #fff;
	opacity: 0.7;
	width: 10px;
	height: 10px;
}
.slide_dot_wrap:hover .slide_dot,
.slide_dot_wrap.active .slide_dot {
	opacity: 1;
}



.fslider_item_2 .slide_dot_wrap {
	top: 80%;
    left: 34%;
}

.fslider_item_2 .slide_text_wrap {
	top: 51%;
    left: 46%;
}


.fslider_item_1 .slide_dot_wrap {
	top: 62%;
    left: 38%;
}

.fslider_item_1 .slide_text_wrap {
	top: 37%;
    left: 7%;
}


.slide_text_wrap {
	border: 1px solid #fff;
	background: rgba(0, 0, 0, 0.5);
	width: 380px;
	box-sizing: border-box;
	padding: 15px 20px;
	position: absolute;
	z-index: 9999;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.slide_text_wrap.expanded {
	opacity: 1;
}

.slide_text_head {
	color: #fff;
	font-family: 'roboto_condensedregular';
	text-transform: uppercase;
	font-size: 17px;
	border-bottom: 1px dashed #fff;
	display: inline-block;
	margin: 0 0 10px 0;
}

.slide_text {
	color: #fff;
	font-family: 'robotoregular';
	font-size: 13px;
}






#front_sidebar {
	width: 300px;
	height: 100%;
	position: fixed;
	top: 0;
	right: -350px;
	z-index: 20;
    background: rgba(0,0, 0, 0.7);
	transition: right 0.5s ease-in-out;
}


#front_sidebar.expanded {
	right: 0;
	position: fixed;
}


#nav_inner {
	padding: 100px 0 0 0;
}
#front_sidebar .menu {
	padding: 10px 10px 0 30px;
}
#front_sidebar .menu li {
	list-style-type: none;
	padding: 3px 0;
	position: relative;
}
#front_sidebar .menu li a {
	color: #fff;
	font-family: 'roboto_condensedregular';
	text-decoration: none;
	font-size: 26px;
    line-height: 1.2;
	border-bottom: 1px dashed transparent;
	transition: all 0.3s ease-in-out;
}
#front_sidebar .menu li a:hover {
	border-bottom: 1px dashed #fff;
}
#front_sidebar .menu li ul li a {
	font-size: 16px;
}
#front_sidebar .menu li.expanded ul {
	display: none;
}

#front_menu_icon {
	background-image: url("../img/menu-front-sprite.png");
	background-repeat: no-repeat;
	background-position: 0 9px;
	background-size: 100% auto;
	width: 61px;
	height: 61px;
	position: fixed;
	top: 20px;
	right: 2%;
	z-index: 30;
	cursor: pointer;
}

#front_menu_icon.active {
	background-position: 0 -75px;
}

.arrow-block {
	padding: 10px;
    position: absolute;
    right: 16px;
    top: 7px;
    cursor: pointer;
}

.arrowFP {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 6px 0 6px;
    border-color: #f3f3f3 transparent transparent transparent;
    display: block;
}

.arrow-block.active .arrowFP {
    border-width: 0 6px 5px 6px;
    border-color: transparent transparent #f3f3f3 transparent;
}






#front_slider {
	display: none;
}







/* 
.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.2; }
}
 */


