
#top_menu,
#navigation,
#cart,
#callback,
#search,
#nav_top,
.region-header,
.messages,
.breadcrumb,
.tabs-wrapper,
div.tabs-wrapper + ul.action-links,
#sidebar-second,
#footer {
	display: none !important;
}
#header {
	padding: 0 !important;
}
#main {
	float: none !important;
	padding: 0 !important;
	clear: both !important;
	
}