
form#search-block-form {
	bottom: -20px;
    right: 63px;
}
/* #callback:hover #callMeBack {
	opacity: 0;
} */
.page-node-2 .breadcrumb {
	top: 0;
}
.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-body {
	max-width: 90%;
	margin-bottom: 4%;
}
.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-title,
.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-right-text-nu {
	font-size: 42px;
}
.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-body,
.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-right-text-,
.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-subbody a {
	font-size: 17px;
}

.group-prod-photo {
    width: 50%;
}
.group-prod-right {
    width: 47%;
}
.node-type-product-radiator .field-name-commerce-price {
    font-size: 37px;
}
.node-product-radiator .field-name-field-product-reference input[type="submit"] {
    padding: 4px 12px;
}
.field-name-field-product-charact-comment {
    margin: 5px 0 20px 0;
}


@media only screen and (max-width: 880px) {
	#footer_inner #footer_container > .region {
	  width: 65%;
	}
  }
@media only screen and (max-width: 850px) {
    .field-name-field-product-related .productview .views-row:nth-child(odd) {
        margin: 0 0 20px 0;
    }
}
@media only screen and (max-width: 780px) {
	.page-node-2 .breadcrumb {
		display: none;
	}
	.page-node-2 .group-main-wrapper .group-slider-wrapper {
		padding-top: 1%;
		box-sizing: border-box;
	}
	.page-node-2 .group-main-wrapper .group-slider-wrapper .group-slider-right-wrapper {
		position: absolute;
	    top: 3%;
	    right: 0;
	    padding: 3px 0 5px 14px;
	}
	.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-title,
	.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-right-text-nu {
		font-size: 36px;
	}
	.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-body {
		font-size: 15px;
	}
	.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-subbody  {
		position: absolute;
		bottom: 12%;
		margin: 0;
		padding: 2px 8px;
	}
	.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-right-text-, 
	.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-subbody a {
   		font-size: 16px;
	}

	.group-about-us-wrapper {
	    width: 100%;
	    display: inline;
	}
	.field-name-field-about-us .field-items > .field-item.odd .field-collection-view .group-about-us-wrapper {
	    float: none;
	}
	.field-name-field-about-us-title {
		font-size: 36px;
	}
	.field-name-field-about-us-img,
	.field-name-field-about-us .field-items > .field-item.odd .field-collection-view .field-name-field-about-us-img {
		width: 30%;
	    padding: 0;
	    margin-right: 10px;
	    float: left;
	}
}
@media only screen and (max-width: 768px) {
    .group-prod-photo {
        width: 100%;
		display: block;
	}
    .group-prod-right {
        width: 100%;
    }
}
@media only screen and (max-width: 550px) {
/*	.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-title, 
	.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-right-text-nu {
		    font-size: 30px;
	}*/
	.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-body {
	    max-width: 100%;
		 font-size: 13px;
	}
	.page-node-2 .group-main-wrapper .group-slider-wrapper .group-slider-right-wrapper {
		padding: 2px 10px 5px;
	}
	.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-right-text- {
		width: 108px;
	}
	.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-right-text-, 
	.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-subbody a {
   		font-size: 12px;
	}
	.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-subbody {
		padding: 0px 2px 3px;
		bottom: 6%;
	}
	.group-about-us-wrapper p {
    	font-size: 15px; 
	}
	#order_form {
	    width: 95%;
	    max-width: 530px;
	    left: 3%;
	    margin: 0;	
	}
	#callback:hover {
		background-position: center -55px;
	}
}
@media only screen and (max-width: 550px) {
	#callback {
		width: 30px;
		background-size: 40%;
		background-position: 14px 6px;
	}
	#callMeBack {
		display: none;
	}
}