#header #navigation {
    top: 89px;
} 
h1 {
    font-size: 25px;
}
.group-about-us-wrapper {
    width: 100%;
}
.field-name-field-about-us-img,
.field-name-field-about-us .field-items > .field-item.odd .field-collection-view .field-name-field-about-us-img {
    display: block;
    width: 50%;
    margin: 0 auto;
    float: none;
}
.group-about-us-wrapper p {
    font-size: 14px; 
}
#cart,
#callback,
#search,
#nav_top {
    padding: 5px;
    background-position-x: center;
}
#callback {
    padding: 0 10px;
}
#cart:hover, #cart.active,
#callback:hover, #callback.active,
#search:hover, #search.active,
#nav_top:hover, #nav_top.active {
    background-position-x: center;
}
#callback:hover, #callback.active {
    background-position-y: -55px;
}
#cart .n_items {
    top: -4px;
}
#search:hover, #search.active {
    background-position-y: -76px;
}
#nav_top:hover, #nav_top.active  {
    background-position-y: -28px;
}
#block-commerce-cart-cart {
    top: 94px;
    right: 95px;
}
form#search-block-form {
    bottom: -9px;
    right: 52px;
}
#callMeBack {
    left: -31px;
}
#order_form {
    top: 2%;
}
.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-title, 
.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-right-text-nu {
    font-size: 30px;
}
.page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-body {
    margin-top: 3%;
}
.field-name-field-about-us-title {
    margin-bottom: 0;
}
#footer #footer_inner #footer_container > .region #block-bean-kompaniya.block-bean,
#footer #footer_inner #footer_container > .region #block-bean-produkciya.block-bean,
#footer #footer_inner #footer_container > .region #block-bean-info.block-bean {
    display: none;
}
#footer #footer_inner #footer_container_wrapper {
    margin-right: 0;
}
#bottom_footer {
    width: 90%;
    text-align: center;
    bottom: 20px;
}
#footer #footer_inner #footer_container > .region .block-bean:last-child{
    width: 100%;
}
#footer_container > .region .block-bean {
    margin-bottom: 60px;
}




@media only screen and (max-width: 420px) {
    body #header #logo {
        width: 110px;
        margin: 0; 
    }
    #header #navigation {
        top: 70px;
    }
    #cart,
    #callback,
    #search,
    #nav_top {
        padding: 0;
        background-position: center 7px;
        background-size: 60%;
        width: 40px;
        height: 40px;
    }
    #callback {
        background-size: 35%;
        margin: 0;
        border: none;
    }
    #nav_top {
        background-position-y: 13px;
    }
    #cart .n_items {
        width: 13px;
        height: 13px;
        font-size: 10px;
    }
    #cart:hover, #cart.active {
        background-position: center -19px;
    }
    #callback:hover, #callback.active {
        background-position: center -34px;
    }
    #search:hover, #search.active {
        background-position: center -48px;            
    }
    #nav_top:hover, #nav_top.active {
       background-position: center -15px;            
    }
    #block-commerce-cart-cart {
        top: 79px;
        right: 39px;
    }
    form#search-block-form {
        bottom: -28px;
        right: 26px;
    }
    #order_form {
        top: 0.5%;
        padding: 20px 40px;
    }
    #order_form h2 {
        font-size: 26px;
        margin-bottom: 30px;
    }
    #order_form .webform-component-number label {
        font-size: 18px;
    }
    #edit-submitted-vash-nomer-telefona {
        font-size: 40px;
        margin-bottom: 50px;
        padding: 7px 25px;
    }
    #order_form form .form-actions {
        height: 72px;
    }
    #order_form form .form-actions input,
    #order_close {
        width: 65px;
        height: 65px;
        background-size: 100%;        
    }
    #order_form form .form-actions:before,
    #order_close:before {
        font-size: 18px;
    }
    #order_form form .form-actions input:hover,
    #order_close:hover {
        background-position: 0 -73px;
    }
    body .field-collection-container {
        margin-bottom: 75px;
    }
    .page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-title {
        font-size: 36px;
    }
    .page-node-2 .group-main-wrapper .group-slider-wrapper .group-slider-right-wrapper {
        top: 35%;
    }
    .page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-body {
        color: #4a4a4a;
        margin-top: 35%;
    }
    .field-collection-view:first-child {
        border: none;
    }
    .field-name-field-about-us-title {
        font-size: 30px;
    }
    .group-about-us-wrapper p {
        font-size: 13px;
    }
    .group-prod-charact-table > div {
        font-size: 12px;
    }

}

@media only screen and (max-width: 370px) {
    body .field-collection-container {
        margin-bottom: 90px;
    }
    .page-node-2 .group-main-wrapper .group-slider-wrapper .field-name-field-about-slider-title {
        font-size: 30px;
    }
    .field-name-field-product-charact-comment,
    .group-prod-charact-table > div {
        font-size: 13px;
    }
    .node-type-product-radiator .field-name-commerce-price {
        font-size: 31px;
    }
    .field-name-field-product-charact-comment {
        font-size: 13px;
    }
    p {
        font-size: 15px;
    }
}